@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fc;
}

/* Brand Colors */
.bg-brand-dark {
    background-color: #2a366b;
}

.text-brand-dark {
    color: #2a366b;
}

.border-brand-dark {
    border-color: #2a366b;
}

/* Custom Scrollbar for modules */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

/* Erzwingt GPU-Beschleunigung für flüssiges Scrollen */
.image-card,
img {
    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
}

/* Verhindert, dass das Layout beim Laden springt */
#image-gallery {
    content-visibility: auto;
    contain-intrinsic-size: 1000px;
}